.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  cursor: pointer;
}
.standout {
  box-shadow: -1px -1px 0px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 0px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 0px 7px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 425px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}
